/***Contactos.css***/
*{
	box-sizing: border-box;
	/*margin: 0;*/
	padding: 0;
}
body{
	background-color:#70CA26;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNHvDvVmwgPn-iKNdRRIka39wuNpaoyPXnCcrjMe4_jEpkAWcs);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    margin: auto;

	}
h1{
	font-family: 'Shadows Into Light', cursive;
	color:#FFD700;
}
/*Marco*/
.marco{
	margin:auto;
	max-width: 1000px;
}
.cabecera{
	display:flex;

}
.cabecera img{
   height:30px;
   display: flex;
  }
.botonera{
	/*background-color: #F7D331;*/
	display: flex;
	
}
.botonera ul{
	list-style-type: none;
    flex-grow: 1;
	display: flex;
	font-family:'Shadows Into Light', cursive;
	/*justify-content: space-between;*/


}
.botonera li{
	flex-grow: 1;
	justify-content: space-between;
	/*border-left:1px solid transparent;*/
}
.botonera a{
	background-color: #70CA26;
	color:#FFD700;

	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	
	width: 90%;
	float: left;
	/*margin:auto;*/

}
.botonera a:hover{
	background-color: peru;
}
/*Fin Marco*/
.contacto{

	width: 95%;
	margin-top: 50px;
	padding: 60px 40px 20px;
	background-color: #70CA26;
	border-radius: 20px;
	border: 1px solid gold;
	float: right;
}
.contacto label{
	display: block;
}
.contacto div{
	margin-bottom: 5px;
}