*{
	box-sizing: border-box;
	margin: 0;
	padding: 3px;
}
body{
	/*background-color:#70CA26;*/
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNHvDvVmwgPn-iKNdRRIka39wuNpaoyPXnCcrjMe4_jEpkAWcs);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover; 
    font-color:#3B0B17;

	}
h1{
	font-family: 'Shadows Into Light', cursive;
	color:#DF0101;
	display: flex;
	padding-left: 15px;
	text-align: 20px 5px;
}
/* h1 img{
	margin-top: 15px;
	height:30px;
    display: flex;
}*/
/*Marco*/
.marco{
	margin:auto;
	max-width: 1200px;
}
.cabecera{
	display:flex;

}
.cabecera img{
   height:30px;
  }
 /*.buscador{
 	display: flex;
 	justify-content: flex-end;
 }
.buscador input {
	padding: 2px 4px;
}*/

.botonera{
	/*background-color: #F7D331;*/
	display: flex;	
}
.botonera ul{
	list-style-type: none;
    flex-grow: 1;
	display: flex;
	/*justify-content: space-between;*/


}
.botonera li{
	flex-grow: 1;
	justify-content: space-between;
	/*border-left:1px solid transparent;*/
}
.botonera a{
	background-color: #70CA26;
	/*color:red;*/

	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	text-decoration: none;
	
	width: 90%;
	float: left;
	/*margin:auto;*/

}
.botonera a:hover{
	background-color: peru;
}
/*Fin Marco*/
}
.boton {
padding: 5px; 
background-color: #F3F1F0; 
color:#DF0101;
text-decoration: none; 
padding-right: 90px;
float:right;
}
